/* LIBRO DE RECLAMACIONES */
body {
  background-color: #f5f0e8;
  color: #000;
}

.contenedor {
  max-width: 980px;
  margin: auto;
  padding: 120px 20px;
}

h1 {
  text-align: center;
  font-size: 46px;
  font-weight: 700;
  color: #2d7a5f;
  margin-bottom: 20px;
}

.datos-empresa {
  text-align: center;
  color: #444;
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 1.7;
}

.formulario-libro {
  max-width: 760px;
  margin: auto;
  background-color: #fffaf3;
  padding: 35px;
  border-radius: 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.formulario-libro h2 {
  font-size: 25px;
  color: #2d7a5f;
  margin-bottom: 25px;
}

.formulario-libro h3 {
  margin: 25px 0 18px;
  font-size: 17px;
  font-weight: 700;
}

label,
.formulario-libro p {
  display: block;
  font-size: 14px;
  margin: 16px 0 8px;
  color: #000;
}

input,
textarea {
  width: 100%;
  border: none;
  outline: none;
  background-color: #e6ebe3;
  border-radius: 8px;
  padding: 13px;
  font-size: 15px;
  font-family: inherit;
}

textarea {
  resize: none;
}

.fila {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 28px;
}

.opcion {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 12px 0;
}

.opcion input,
.check input {
  width: auto;
}

.monto {
  max-width: 220px;
}

.check {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  line-height: 1.5;
  font-size: 15px;
  margin-top: 25px;
}

.check input {
  margin-top: 4px;
}

.formulario-libro button {
  width: 100%;
  background-color: #3f7f58;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 8px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 25px;
}

.formulario-libro button:hover {
  background-color: #2f6847;
}

@media (max-width: 768px) {
  h1 {
    font-size: 34px;
  }

  .formulario-libro {
    padding: 25px 20px;
  }

  .fila {
    grid-template-columns: 1fr;
    gap: 0;
  }
}


body.dark-mode .datos-empresa,
body.dark-mode .formulario-libro label,
body.dark-mode .formulario-libro p,
body.dark-mode .formulario-libro h2,
body.dark-mode .formulario-libro h3 {
  color: #f5f0e8 !important;
}
